/* body全体 */

@media(min-width: 481px) {
  
body   {
        font-family: "新レトロ丸ゴシック" , 'HG丸ゴシックM-PRO' , sans-serif ;
        text-align: center;
        white-space: nowrap;
       }


/* ナビゲーションメニュー と ロゴ */

  /* sp用　ナビ　非表示 */
  #nav-sp {
           display: none;
          }

#nav-img  {
           position: relative;
          }
  
li        {
           list-style: none;
          }
  
.shape01  {
           background: #ccffcc;
           border-radius: 20% 40% 30% 30% / 30% 40% 50% 60%;
           mix-blend-mode: multiply;
           padding: 10px 0;
           position: absolute;
           top: -27px;
           right: -35px;
           width: 400px;
          }

#logo > a > img {
           width: 60px;
           height: 60px;
           position: absolute;
           left: 50px;
           bottom: 5px;
          }

#nav      {
           display: flex;
           justify-content: flex-end;
           position: relative;
           margin-top: 50px;
           margin-right: 100px;
          }

#nav a    {
           font-family: '新レトロ丸ゴシック' , 'HG丸ゴシックM-PRO' , sans-serif;
           padding: 10px 20px;
           text-decoration: none;
           font-size: 18px;
           color: black;
           font-weight: bold;
          }


/* メイン画像  */
  /* sp用　メイン画像　非表示 */
  .main-photo-sp {
             display: none;
            }
            
.main-photo {
             margin: 100px 0 150px 0;
             width: 100%;
             text-align: center;
            }
              
            
/*キャッチコピー */
            
.catch-copy {
             display: flex;
            }

#blend > .shape3 > p {
             font-size: 30px;
            }

.shape3 > p > span {
             font-size: 50px;
            }
  
li          {
             list-style: none;
            }
    
.blend      {
             position: relative;
            }
      
.shape1     {
             background: #c2eeff;
             border-radius: 50% 40% 30% 30% / 30% 40% 50% 60%;
             box-sizing: border-box;
             mix-blend-mode: multiply;
             padding: 35px 50px 20px 0;
             position: absolute;
             left: 748px;
             width: 450px;
             height: 350px;
            }
        
.shape2    {
            background-color: #ff9;
            border-radius: 50% 40% 30% 30% / 30% 40% 50% 60%;
            box-sizing: border-box;
            mix-blend-mode: multiply;
            padding: 35px 50px 20px 0;
            position: absolute;
            left: 500px;
            width: 450px;
            height: 350px;
           } 

.shape3    {
            position: absolute;
            left: 258px;
            background: #ffccff;
            border-radius:50% 40% 30% 30% / 30% 40% 50% 60%; 
            box-sizing: border-box;
            mix-blend-mode: multiply;
            padding: 35px 20px;
            width: 490px;
            height: 350px;
            letter-spacing: 45px;
            line-height: 90px;
           }
           
.shape3 > p {
            position: absolute;
            left: 110px;
            top: 50px;
           }
             
/* About */
 /* sp用　自己紹介文　非表示 */
 .pr-sp    {
            display: none;
           }

 .about-sp {
            display: none;
           }

.about01   {
            font-family: '晩秋レトロミン' , 'HG丸ゴシックM-PRO' , sans-serif;
            font-size: 35px;
            color: #3c0;
            margin-bottom: 60px;
           }

.about > #about {
            margin: 500px auto 0 auto;
           }

              
/* 顔写真 */
  /* sp用　顔写真　非表示 */
  .face-sp  {
             display: none;
            }

.myface     {
             font-size: 20px;
             display: flex;
             justify-content: center;
            }

.pr         {
             text-align: left;         
            }

.face > .image > img {
             margin-right: 20px;
             width: 200px;
             height: 200px;
             border-radius: 50%;
             position: relative;
             overflow: hidden;
            } 

.image > img {
             position: absolute;
             top: 0;
             left: 0;
             width: auto;
             height: 100%;
             object-fit: cover;
            }


/* Contact*/
  /* sp用　非表示 */
 .ct             {
                  display: none;
                 }

  #contact-sp    {
                  display: none;
                 }

  .con02         {
                  display: none;
                 }

.con01           {
                  font-family: '晩秋レトロミン' , 'HG丸ゴシックM-PRO' , sans-serif;
                  font-size: 35px;
                  color: #39f;
                  margin: 150px 0 60px 0;
                 }     
          
.contact-label   {
                  font-weight: bold;
                  color: #565656;
                 }

form             {
                  font-size: 18px;
                  width: fit-content;
                  margin: auto;
                 }
  
#contact > form > div {
                  display: flex;
                  flex-direction: row;
                  flex-wrap: wrap;
                  padding: 23px;
                 }

.contact-heading {
                  width: 300px;
                  align-self: center;
                 } 

.contact-textbox {
                  border-top: 0;
                  border-left: 0;
                  border-right: 0;
                  border-bottom-width: 3px;
                  border-bottom-color: #c2eeff;
                  border-bottom-style: solid;
                  background-color: #ffddff;
                  width: 310px;
                  height: 45px;
                 }

.contact-textarea {
                   border-top: 0;
                   border-left: 0;
                   border-right: 0;
                   border-bottom-width: 3px;
                   border-bottom-color: #c2eeff;
                   border-bottom-style: solid;
                   background-color: #ffddff;
                   width: 310px;
                   height: 100px;
                  }
  
.sns-btn         {
                  display: flex;
                  justify-content: center;
                  list-style: none;
                 }

.sns-btn li      {
                  margin-right: 20px;
                 }

h2               {
                   color: #565656;
                   text-align: center;
                   margin: 0 0 40px 0;
                 }

#contact         {
                   margin: 80px auto 20px auto;
                 }
                 
#contact > form > div {
                   display: flex;
                 }


/* 送信ボタン */
#send-btn > button { 
                  margin: 0 auto 0 auto;
                 }

.send            {
                  padding: 10px 20px;
                  border-radius: 10px;
                  border : 2px solid #c2eeff;
                  background-color: #ffddff;
                 }

.send:disabled   {
                  background-color: #999;
                 }


/* お問い合わせ */
.ms              {
                  text-align: center;
                  margin-top: 80px;
                 }


/* footer */
 /* sp用　非表示 */
 .footer-sp      {
                  display: none;
                 }

.footer          {
                  margin-top: 20px;
                  font-size: 10px;
                  text-align: center;
                 }
}



/*-------------------
------ スマホ用　-------
------------------- */

/* body全体 */
@media (max-width: 480px) {

body             {
                  font-family: "新レトロ丸ゴシック" , 'HG丸ゴシックM-PRO' , sans-serif ;
                  margin: 10px auto 10px auto;
                 }
                 
                 
/* PC用　ナビ　非表示 */
#nav             {
                  display: none;
                 }

/* ナビゲーション */
#nav-sp          {
                  display: flex;
                  margin-left: 10px;
                  font-weight: bold;
                 }

#logo-sp > a     {
                  color: black;
                  text-decoration: none;
                  font-size: 10px;
                  padding: 10px;
                 }

#logo-sp > a > img {
                  width: 30px;
                 }


/* メイン画像 */
/* pc用　メイン画像　非表示 */
.main-photo      {
                  display: none;
                 } 

.main-photo-sp > a > img {
                  width: 100%;
                  margin: 50px 0 30px 0;
                 } 


/* About */
 /* PC用　顔写真　非表示 */
 .image > img        {
                  display: none;
                 }
    
.about-sp        {
                  margin: 20px;
                  text-align: center;
                  font-size: 20px;
                  color: #3c0;
                 }      

/* 顔写真 */
.face-sp         {
                  margin: 30px auto;
                  background-image: url(img/photo.jpg);
                  width: 80px;
                  height: 80px;
                  border-radius: 50%;
                  background-size: cover;
                 }


 /* PC用　自己紹介文　非表示 */
 .pr             {
                  display: none;
                 }

.about01         {
                  display: none;
                 }

.pr-sp > li      {
                  font-size: 13px;
                  list-style: none;
                 }

.pr-sp           {
                  margin: 20px;
                  padding: 0;
                  text-align: left;
                  line-height: 15px;
                 }


/*キャッチコピー */
/* PC用　キャッチコピー　非表示 */
 #blend          {
                  display: none;
                 }


/* contact */
 /* pc用　非表示 */
 h2              {
                  display: none;
                 }

 .con01          {
                  display: none;
                 }

 .ms             {
                  display: none;
                 }

 #contact        {
                  display: none;
                 }

.ct              {
                  margin: 50px 0 30px 0;
                  text-align: center;
                  font-size: 20px;
                  color: #39f;
                 }

#contact-sp > p  {
                  text-align: center;
                  font-size: 10px;
                 }

.sns-btn-sp      {
                  padding: 0 0 0 0;
                  display: flex;
                  list-style: none;
                  justify-content: center;
                 }

.sns-btn-sp > li > a > img {
                  padding: 0 5px;
                  width: 15px;
                 }
                 

/* フッター */
 /* pc用　非表示 */
 .footer         {
                  display: none;
                 }

.footer-sp       {
                  font-size: 6px;
                  text-align: center;
                 }
}





